* {
    margin: 0;
    padding: 0;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}
img {
    display: block;
}
#google-logo {
    display: flex;
    /* height: 50%; */
    /* margin-top: auto; */
}
#search-box {
    display: flex;
    margin: 20px 0 0 0;
    /* height: 40px; */
    /* width: 1000px; */
}
input {
    height: 40px;
    width: 600px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 20px;
}
input:focus {
    outline: none;
}
#search-buttons {
    margin: 40px;
}
button {
    margin: 0 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: whitesmoke;
}
